@model HealthAW.Models.Coach

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Coach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoachTypeNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachTypeNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoachExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachExperience)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CoachId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
